<div class="chat">
  <div class="chat__container">
    <img src={{image}} class="chat__container__image" />
  </div>
  <div class="chat__content">
    <div class="chat__content__theme">
      <p class="chat__content__theme__text">{{theme}}</p>
      <img
        src="../assets/img/chat_menu.svg"
        class="chat__content__theme__menu"
      />
    </div>
    <div class="chat__content__message">
      <p class="chat__content__message__text">{{message}}</p>
      <div class="chat__content__message__count__{{looked}}">{{count}}</div>
    </div>

  </div>
</div>
<hr style="border: 1px solid #86868b" />