<div class="body">
    <h2 class="page__header">Edite account</h2>
    <form method="post" name="settings" class="form"> 
      
      {{{Label page="signin" type="text" name="email" value="Ivaska87@yandex.ru" text="" required="false"}}}
      {{{Label page="signin" type="text" name="login" value="Ivaska87" text="" required="false"}}}
      {{{Label page="signin" type="text" name="first_name" value="Иван" text="" required="false"}}} 
      {{{Label page="signin" type="text" name="second_name" value="Иванов" text="" required="false"}}} 
      {{{Label page="signin" type="text" name="chat_name" value="Ivan_Ivanov" text="" required="false"}}} 
      {{{Label page="signin" type="phone" name="phone" value="+7(909)9673030" text="" required="false"}}} 
      {{{Label page="signin" type="password" name="password" value="****" text="" required="false"}}} 
      {{{Button  page="login" type="submit" title="Редактировать"}}}
      {{{Button  page="login" type="button" title="Выйти"}}}
    </form>
</div>